body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.message_user {
    width: 1020px;
    display: inline-block;
    vertical-align: top
}

.message_user h2 {
    font: bold 32px 'PTSansBold', sans-serif;
    margin: 0 0 5px 0
}

.message_user .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.message_user .search_dialogs {
    background: #e9e9e9;
    border: solid 1px #bcbab6;
    box-sizing: border-box;
    padding: 25px;
    margin: 40px 0 0 0
}

.message_user .search_dialogs .form_input_search {
    display: inline-block;
    width: 400px;
    border: solid 1px #d1d1d1;
    background: #fff;
    padding: 0 15px
}

.message_user .search_dialogs .form_input_search input[type='search'] {
    padding: 15px 0;
    border: none;
    width: 375px
}

.message_user .search_dialogs .form_input_search input[type='button'] {
    border: none;
    background: url(../img/search.png) no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    top: 6px;
    cursor: pointer
}

.message_user .search_dialogs .send_message_my_friends {
    display: inline-block;
    width: 54%;
    text-align: right;
    padding: 0;
    margin: 0
}

.message_user .search_dialogs .send_message_my_friends li {
    display: inline-block;
    margin: 0 12px
}

.message_user .search_dialogs .send_message_my_friends li:nth-child(1) a {
    background: #4a771e;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff
}

.message_user .search_dialogs .send_message_my_friends li:nth-child(2) a {
    color: #545454;
    text-decoration: underline
}

.message_user .search_dialogs .send_message_my_friends li:nth-child(2) a:hover {
    text-decoration: none
}

.message_user .search_dialogs .send_message_my_friends li a {
    display: block;
    font-size: 13px
}

.message_user .all_dialogues {
    box-sizing: border-box;
    margin: 35px 0 50px 0;
    padding: 25px;
    border: solid 1px #bcbab6;
    background: #fff
}

.message_user .all_dialogues h3 {
    font: 16px 'PTSansBold', sans-serif;
    border-bottom: solid 1px #c4c4c4;
    padding: 0 0 10px 0;
    margin: 5px 0 18px 0
}

.message_user .all_dialogues .dialog {
    padding: 0
}

.message_user .all_dialogues .dialog li {
    border-bottom: solid 1px #e5e5e5;
    margin: 15px 0;
    padding: 25px 0;
    display: block;
    cursor: pointer;
    position: relative
}

.message_user .all_dialogues .dialog li .new_message {
    position: absolute;
    top: 0px;
    right: 0px;
    font: italic 11px PTSansRegular, sans-serif;
    padding: 10px 20px;
    color: #fff;
    background: #a6154f;
    border-radius: 4px;
    text-decoration: underline;
    float: right;
    background: #a29090;
    text-decoration: none;
    padding: 4px 5px;
    font-style: normal
}

.message_user .all_dialogues .dialog li img {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    margin: 0 20px 0 0
}

.message_user .all_dialogues .dialog li .dialog_user_info_who_sent_message {
    display: inline-block;
    width: 180px;
    vertical-align: middle
}

.message_user .all_dialogues .dialog li .dialog_user_info_who_sent_message h2 {
    font: bold 16px 'Roboto-Bold', sans-serif;
    color: #787878
}

.message_user .all_dialogues .dialog li .dialog_user_info_who_sent_message a.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.message_user .all_dialogues .dialog li .dialog_user_info_who_sent_message .last_date_message {
    margin: 7px 0 0 0;
    display: block;
    font: 12px "Roboto-Medium", sans-serif;
    color: #bbb
}

.message_user .all_dialogues .dialog li .dialog_content {
    display: inline-block;
    vertical-align: middle;
    width: 650px
}

.message_user .all_dialogues .dialog li .dialog_content span {
    line-height: 25px;
    font-size: 14px;
    color: #3d3d3d
}

.message_user .all_dialogues .dialog li .dialog_content span strong {
    color: #000
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.my_friends {
    width: 1020px;
    display: inline-block;
    vertical-align: top
}

.my_friends h2 {
    font: bold 32px 'PTSansBold', sans-serif;
    margin: 0 0 5px 0
}

.my_friends .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.my_friends ul {
    margin: 75px 0 0 0;
    padding: 0;
    font-size: 0
}

.my_friends ul li {
    list-style-type: none;
    margin: 0 0 15px 0
}

.my_friends ul li .my_friend_photo {
    display: inline-block;
    vertical-align: top;
    border: solid 1px #d2d0cc;
    background: #bdd3d7;
    width: 205px;
    text-align: center;
    margin: 0 40px 0 0
}

.my_friends ul li .my_friend_photo img {
    width: 100%
}

.my_friends ul li .my_friend_photo a {
    display: inline
}

.my_friends ul li .my_friend_photo .online {
    background-position: 0 1px
}

.my_friends ul li .my_friend_photo .offline {
    background-position: 0 -31px
}

.my_friends ul li .my_friend_photo h3 {
    display: inline-block;
    color: #000;
    padding: 15px 0;
    margin: 0;
    font: bold 16px 'Roboto-Bold', sans-serif
}

.my_friends ul li .my_friend_options {
    display: inline-block;
    vertical-align: top;
    width: 260px
}

.my_friends ul li .my_friend_options p {
    color: #939393;
    font-size: 16px
}

.my_friends ul li .my_friend_options p .new_incoming_messages {
    font-size: 20px;
    font-style: italic;
    color: #fff;
    padding: 2px 12px 3px 8px;
    border-radius: 15px;
    background: #d2d2d2
}

.my_friends ul li .my_friend_options p .number_of_messages {
    color: #000
}

.my_friends ul li .my_friend_options .send_message_my_friends {
    display: inline-block;
    width: 54%;
    text-align: right;
    padding: 0;
    margin: 0;
    padding: 0;
    margin: 30px 0 0 0;
    text-align: left;
    width: 90%
}

.my_friends ul li .my_friend_options .send_message_my_friends li {
    display: inline-block;
    margin: 0 12px
}

.my_friends ul li .my_friend_options .send_message_my_friends li:nth-child(1) a {
    background: #4a771e;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff
}

.my_friends ul li .my_friend_options .send_message_my_friends li:nth-child(2) a {
    color: #545454;
    text-decoration: underline
}

.my_friends ul li .my_friend_options .send_message_my_friends li:nth-child(2) a:hover {
    text-decoration: none
}

.my_friends ul li .my_friend_options .send_message_my_friends li a {
    display: block;
    font-size: 13px
}

.my_friends ul li .my_friend_options .send_message_my_friends li {
    margin: 10px 0
}

.my_friends ul li .my_friend_options .send_message_my_friends li:nth-child(2) a {
    font-style: italic
}

.my_friends ul li .my_friend_options .send_message_my_friends li a {
    font-size: 16px
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.my_selected {
    width: 1020px;
    display: inline-block;
    vertical-align: top
}

.my_selected h2 {
    font: bold 32px 'PTSansBold', sans-serif;
    margin: 0 0 5px 0
}

.my_selected .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.my_selected ul {
    padding: 0
}

.my_selected ul li {
    display: inline-block;
    margin: 0 50px 25px 0
}

.my_selected ul li:nth-child(3n+3) {
    margin: 0 0 25px 0
}

.my_selected ul li a {
    width: 220px;
    height: 330px;
    border: solid 1px #d6d5d0;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    background: #fff;
    position: relative
}

.my_selected ul li a span {
    font-size: 13px;
    font-family: Roboto-Medium;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 0 10px
}

.my_selected ul li a .title_commodity {
    color: #000;
    display: block;
    margin: 25px 0 25px 10px
}

.my_selected ul li a .date_commodity {
    display: inline-block;
    width: 40%;
    color: #aeaeae;
    font-size: 12px
}

.my_selected ul li a .price_commodity {
    display: inline-block;
    width: 40%;
    font-size: 18px;
    color: #a6154f;
    text-align: right
}

.my_selected ul .close_selected_roduct {
    position: absolute;
    top: 0px;
    right: -28px;
    color: #898989;
    font-size: 25px
}

.my_selected ul .close_selected_roduct:hover {
    color: #a6154f
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.my_orders {
    width: 1020px;
    display: inline-block;
    vertical-align: top
}

.my_orders h2 {
    font: bold 32px 'PTSansBold', sans-serif;
    margin: 0 0 5px 0
}

.my_orders .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.my_orders .your_card {
    margin: 40px 0 79px 0;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    width: 768px;
    border: solid 1px #d2d0cc;
    border-radius: 15px
}

.my_orders .your_card strong {
    font: bold 16px 'Roboto-Regular', sans-serif;
    color: #a6154f
}

.my_orders .your_card strong span {
    font-size: 20px
}

.my_orders .your_card h4 {
    border-bottom: solid 1px #bebebe;
    margin: 10px 0 0 0;
    padding: 0 0 20px 0;
    font: bold 16px Roboto-Bold, sans-serif
}

.my_orders .your_card ul {
    margin: 0;
    padding: 0
}

.my_orders .your_card ul li {
    list-style-type: none;
    border-bottom: solid 1px #e5e5e5;
    padding: 25px 0 41px 0
}

.my_orders .your_card ul li .seller {
    width: 310px;
    display: inline-block
}

.my_orders .your_card ul li .seller img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 18px 0 0
}

.my_orders .your_card ul li .seller .title_seller {
    vertical-align: middle;
    display: inline-block
}

.my_orders .your_card ul li .seller .title_seller h4 {
    border: none;
    margin: 0;
    padding: 0 0 5px 0
}

.my_orders .your_card ul li .seller .title_seller .organizer {
    font: italic 12px Roboto-Regular, sans-serif;
    color: #757575
}

.my_orders .your_card ul li .seller .title_seller .organizer a {
    color: #00a2c5;
    text-decoration: underline
}

.my_orders .your_card ul li .product_options {
    width: 265px;
    display: inline-block;
    vertical-align: middle
}

.my_orders .your_card ul li .product_options .number-item {
    font: 12px 'Roboto Condensed', sans-serif;
    color: #757575
}

.my_orders .your_card ul li .product_options input {
    border: solid 1px #adadad;
    font-size: 18px;
    color: #000;
    padding: 12px 0 12px 5px
}

.my_orders .your_card ul li .product_options .size {
    display: inline-block;
    width: 100px;
    margin: 0 0 0 20px
}

.my_orders .your_card ul li .product_options .size input {
    width: 72px;
    text-transform: uppercase;
    text-align: center
}

.my_orders .your_card ul li .price_product {
    display: inline-block;
    vertical-align: middle
}

.my_orders .your_card .make_an_order {
    background: #e9e9e9;
    border: solid 1px #c4c4c4;
    padding: 0 22px 28px 22px
}

.my_orders .your_card .make_an_order p {
    font-size: 14px;
    color: #797979;
    margin: 0;
    padding: 25px 0 7px 0
}

.my_orders .your_card .make_an_order .contacts {
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin: 0 32px 0 0
}

.my_orders .your_card .make_an_order .contacts input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
    border: solid 1px #d1d1d1
}

.my_orders .your_card .make_an_order .comment_to_order {
    width: 230px;
    display: inline-block;
    vertical-align: top;
    margin: 0 31px 0 0
}

.my_orders .your_card .make_an_order .comment_to_order textarea {
    resize: none;
    width: 100%;
    height: 130px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 1px #d1d1d1;
    font-size: 14px;
    color: #5c5c5c
}

.my_orders .your_card .make_an_order .delivery_method {
    width: 140px;
    display: inline-block;
    vertical-align: top
}

.my_orders .your_card .make_an_order .delivery_method input {
    float: left
}

.my_orders .your_card .make_an_order .delivery_method label {
    font-size: 14px;
    color: #484848;
    display: block;
    padding: 0 0 10px 13px
}

.my_orders .your_card .make_an_order .delivery_method label span {
    margin: 0 0 0 17px
}

.my_orders .your_card .make_an_order strong {
    display: inline-block;
    margin: 50px 38px 39px 0
}

.my_orders .your_card .make_an_order button {
    display: inline-block
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.comments_and_responses {
    width: 1020px;
    display: inline-block;
    vertical-align: top
}

.comments_and_responses h2 {
    font: bold 32px 'PTSansBold', sans-serif;
    margin: 0 0 5px 0
}

.comments_and_responses .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.comments_and_responses ul {
    border-top: solid 1px #bdbdbd;
    margin: 30px 0 60px 0;
    padding: 0
}

.comments_and_responses ul li {
    list-style-type: none;
    margin: 40px 0
}

.comments_and_responses ul li img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 29px 0 0
}

.comments_and_responses ul li .content_comments_sender {
    display: inline-block;
    vertical-align: middle;
    width: 85%
}

.comments_and_responses ul li .content_comments_sender a {
    text-decoration: underline;
    color: #a6154f;
    font: bold 15px 'Roboto-Medium', sans-serif
}

.comments_and_responses ul li .content_comments_sender p {
    font: italic 15px 'Roboto-Light', sans-serif;
    color: #2a2a2a
}

.comments_and_responses ul li button {
    width: 100%;
    border: none;
    padding: 12px 0;
    background: #e1e7e5;
    text-align: center;
    text-decoration: underline;
    color: #828383;
    cursor: pointer;
    font: 14px 'Roboto-Regular', sans-serif;
    margin: 35px 0 0 0
}

.comments_and_responses ul li ul {
    padding: 0 0 0 100px;
    border-top: none;
    border-bottom: solid 1px #cdcbc7
}

.comments_and_responses ul li ul li {
    transition: all .25s
}

.comments_and_responses ul li ul li .content_comments_sender a {
    color: #5c5c5c
}

.comments_and_responses ul li ul li .content_comments_sender p {
    color: #5e5e5e
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.news {
    width: 1020px;
    display: inline-block;
    vertical-align: top
}

.news h2 {
    font: bold 32px 'PTSansBold', sans-serif;
    margin: 0 0 5px 0
}

.news .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.news .online {
    display: block;
    margin: 10px 0 0 0
}

.news h3 {
    font: bold 16px 'Roboto-Bold', sans-serif;
    color: #000;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: solid 1px #bab9b7
}

.news .my_news {
    width: 579px;
    margin: 50px 50px 0 20px;
    display: inline-block;
    vertical-align: top
}

.news .my_news ul {
    padding: 0;
    margin: 0
}

.news .my_news ul li {
    display: inline-block;
    border-top: solid 1px #bab9b7
}

.news .my_news ul li:first-child {
    border-top: none
}

.news .my_news ul li img {
    display: inline-block;
    width: 70px;
    border: solid 1px #d9d8d6;
    border-radius: 40px;
    vertical-align: top;
    margin: 28px 20px 28px 0
}

.news .my_news ul li .content_news {
    display: inline-block;
    width: 325px;
    margin: 40px 25px 40px 0
}

.news .my_news ul li .content_news a {
    font: bold 16 'Roboto-Bold', sans-serif;
    text-decoration: underline;
    color: #a6154f
}

.news .my_news ul li .content_news p {
    font-size: 14px;
    margin: 0;
    color: #3d3d3d;
    padding: 16px 0
}

.news .my_news ul li .date_write {
    vertical-align: top;
    margin: 40px 0;
    display: inline-block
}

.news .add_news {
    display: inline-block;
    vertical-align: top;
    width: 366px;
    border: solid 1px #c6c6c6;
    border-radius: 10px;
    background: #d6e4e6;
    box-sizing: border-box;
    padding: 30px 28px 30px 28px;
    margin: 19px 0 0 0;
    height: 497px
}

.news .add_news h3 {
    margin: 0
}

.news .add_news img {
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    margin: 18px 18px 0 0
}

.news .add_news a {
    font: italic 11px PTSansRegular, sans-serif;
    padding: 10px 20px;
    color: #fff;
    background: #a6154f;
    border-radius: 4px;
    text-decoration: underline;
    text-decoration: none;
    font-style: normal;
    display: inline-block;
    vertical-align: middle
}

.news .add_news p {
    padding: 0;
    margin: 25px 0 10px 0;
    font-size: 14px
}

.news .add_news input {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    font-size: 14px;
    border: solid 1px #c0cdcf
}

.news .add_news textarea {
    box-sizing: border-box;
    padding: 12px;
    resize: none;
    width: 100%;
    height: 100px;
    border: solid 1px #c0cdcf;
    font-size: 14px;
    color: #a9a9a9
}

.news .add_news button {
    border: none;
    color: #fff;
    background: #4a771e;
    border-radius: 10px;
    font-size: 11px;
    margin: 23px 0 0 0;
    padding: 10px 19px
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.about_us {
    background: #dad8d4;
    background: -moz-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #dad8d4), color-stop(21%, #f4f2ed), color-stop(100%, #f4f2ed));
    background: -webkit-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%);
    background: -o-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%);
    background: -ms-linear-gradient(top, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%);
    background: linear-gradient(to bottom, #dad8d4 0%, #f4f2ed 21%, #f4f2ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dad8d4', endColorstr='#f4f2ed', GradientType=0)
}

.about_us .about-us-description {
    text-align: center;
    height: 100px;
    line-height: 4;
    margin: 0
}

.about_us .about-us-description li {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    padding: 0 17px
}

.about_us .about-us-description li a {
    color: #000;
    font-weight: bold;
    font-size: 25.7px
}

.about_us .about-us-description li span {
    font-weight: bold;
    font-size: 24px;
    color: #a6154f
}

.about_us .content_main_page {
    width: 861px;
    display: inline-block;
    margin: 0 4px 0 0
}

.about_us .content_main_page .home-welcome {
    background: #fff;
    height: 161px;
    position: relative;
    border: solid 1px #d6d5d0
}

.about_us .content_main_page .home-welcome img {
    top: -31px;
    position: absolute;
    left: 20px
}

.about_us .content_main_page .home-welcome .description-home-welcome {
    width: 612px;
    float: right
}

.about_us .content_main_page .home-welcome .description-home-welcome h2 {
    font: 25px 'Roboto-Light', sans-serif;
    padding: 17px 0;
    margin: 0
}

.about_us .content_main_page .home-welcome .description-home-welcome p {
    margin: 0 0 12px 0;
    color: #525252;
    font-size: 14px
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends {
    display: inline-block;
    width: 54%;
    text-align: right;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li {
    display: inline-block;
    margin: 0 12px
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li:nth-child(1) a {
    background: #4a771e;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li:nth-child(2) a {
    color: #545454;
    text-decoration: underline
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li:nth-child(2) a:hover {
    text-decoration: none
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li a {
    display: block;
    font-size: 13px
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li {
    margin: 0 14px 0 0
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li:nth-child(1) a {
    background: #a6154f;
    border-radius: 10px;
    font-size: 11.6px;
    padding: 6px 13px
}

.about_us .content_main_page .home-welcome .description-home-welcome .send_message_my_friends li:nth-child(2) a {
    text-decoration: none;
    color: #918771;
    font-size: 11px
}

.about_us .content_main_page .category {
    margin: 27px 0 0 0
}

.about_us .content_main_page .category .content_category {
    width: 210px;
    height: 210px;
    background: #fff;
    border-radius: 20px;
    display: inline-block;
    margin: 0 2px 6px 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    padding: 33px 0
}

.about_us .content_main_page .category .content_category .category_added {
    position: absolute;
    top: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 14px;
    color: #a6154f
}

.about_us .content_main_page .category .content_category h6 {
    margin: 14px 0 0 0;
    text-transform: uppercase;
    font: bold 12px 'Roboto-Bold'
}

.about_us .content_main_page .advertising_banners {
    margin: 27px 0 0 0
}

.about_us .content_main_page .advertising_banners .advertising_banners_content {
    display: inline-block;
    box-sizing: border-box;
    padding: 18px;
    width: 427px;
    background: url(../img/conten_bg.png) no-repeat
}

.about_us .content_main_page .advertising_banners .advertising_banners_content h4 {
    font: 20px "Roboto-Medium", sans-serif;
    margin: 0 0 16px 0;
    color: #fff
}

.about_us .content_main_page .advertising_banners .advertising_banners_content p {
    margin: 0;
    color: #fff;
    font-size: 14px
}

.about_us .content_main_page .advertising_banners .advertising_banners_content:nth-child(2) {
    float: right;
    background: url(../img/conten_bg_2.png) no-repeat
}

.about_us .content_main_page .block_news {
    height: 330px;
    background: #fff;
    box-sizing: border-box;
    padding: 15px 35px 15px 50px;
    margin: 27px 0;
    border: solid 1px #d0ceca
}

.about_us .content_main_page .block_news .date_write {
    display: block;
    padding: 15px 0 0 0;
    font-size: 10px;
    color: #8d8d8d
}

.about_us .content_main_page .block_news h2 {
    font: 24px 'Roboto-Light', sans-serif;
    margin: 20px 0
}

.about_us .content_main_page .block_news ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.about_us .content_main_page .block_news ul li {
    font: 15px 'Roboto-Light', sans-serif;
    padding: 0 0 20px 0
}

.about_us .content_main_page .block_news ul li p {
    margin: 0 0 15px 0
}

.about_us .content_main_page .block_news ul li:last-child {
    padding: 0
}

.about_us .content_main_page .block_news .latest_news {
    float: left;
    width: 360px;
    border-right: solid 1px #e5e5e5;
    height: 300px;
    padding: 0 20px 0 0
}

.about_us .content_main_page .block_news .latest_news .content_news {
    font-size: 13px
}

.about_us .content_main_page .block_news .latest_news .all_news {
    background: none;
    border: none;
    float: right;
    font-size: 13px;
    color: #49c7bb;
    cursor: pointer
}

.about_us .content_main_page .block_news .top_organizers {
    float: right;
    width: 350px
}

.about_us .content_main_page .block_news .top_organizers ul li p {
    margin: 0
}

.about_us .content_main_page .block_news .top_organizers ul li .scores {
    font-size: 11.6px;
    color: #df3a55
}

.about_us .hot_news {
    display: inline-block;
    width: 420px;
    vertical-align: top
}

.about_us .hot_news .video {
    width: 100%;
    height: 160px
}

.about_us .hot_news ul {
    padding: 0;
    margin: 27px 0 0 19px
}

.about_us .hot_news ul li {
    list-style-type: none;
    width: 380px;
    color: #fff;
    border-radius: 45px;
    margin: 0 0 10px 0;
    border: solid 1px #dedcd8
}

.about_us .hot_news ul li img {
    float: left;
    position: relative;
    top: -1px;
    border-radius: 50px 0 0 50px;
    left: -2px;
    margin: 0 10px 0 0
}

.about_us .hot_news ul li h5 {
    font: 20px 'Roboto-Light', sans-serif;
    margin: 0;
    padding: 15px 0 5px 0
}

.about_us .hot_news ul li p {
    margin: 0;
    font-size: 14px;
    height: 40px;
    white-space: pre-wrap;
    overflow: hidden;
    width: 250px
}

.about_us .hot_news ul li:nth-child(1) {
    background: #a6154f;
    height: 87px
}

.about_us .hot_news ul li:nth-child(2) {
    background: #9ab6bb;
    height: 87px
}

.about_us .hot_news ul li:nth-child(3) {
    background: #ff6695;
    height: 200px;
    margin: 26px 0 0 0
}

.about_us .hot_news ul li:nth-child(3) img {
    margin: 30px 0 0 30px;
    border-radius: 0
}

.about_us .hot_news ul li:nth-child(3) .content_attention_new {
    width: 275px;
    float: right
}

.about_us .hot_news ul li:nth-child(3) .content_attention_new p {
    margin: 15px 0 20px 0;
    height: auto;
    white-space: normal
}

.about_us .hot_news .advertising_banners_content {
    display: inline-block;
    box-sizing: border-box;
    padding: 18px;
    width: 427px;
    background: url(../img/conten_bg.png) no-repeat;
    width: 420px;
    margin: 42px 0 0 0;
    background: url(../img/conten_bg_3.png) no-repeat
}

.about_us .hot_news .advertising_banners_content h4 {
    font: 20px "Roboto-Medium", sans-serif;
    margin: 0 0 16px 0;
    color: #fff
}

.about_us .hot_news .advertising_banners_content p {
    margin: 0;
    color: #fff;
    font-size: 14px
}

.about_us .hot_news .advertising_banners_content:nth-child(2) {
    float: right;
    background: url(../img/conten_bg_2.png) no-repeat
}

.about_us .hot_news .best_organizer {
    height: 330px;
    background: #fff;
    box-sizing: border-box;
    padding: 15px 35px 15px 50px;
    margin: 27px 0;
    border: solid 1px #d0ceca;
    padding: 7px 21px 15px 30px
}

.about_us .hot_news .best_organizer .date_write {
    display: block;
    padding: 15px 0 0 0;
    font-size: 10px;
    color: #8d8d8d
}

.about_us .hot_news .best_organizer h2 {
    font: 24px 'Roboto-Light', sans-serif;
    margin: 20px 0
}

.about_us .hot_news .best_organizer ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.about_us .hot_news .best_organizer ul li {
    font: 15px 'Roboto-Light', sans-serif;
    padding: 0 0 20px 0
}

.about_us .hot_news .best_organizer ul li p {
    margin: 0 0 15px 0
}

.about_us .hot_news .best_organizer ul li:last-child {
    padding: 0
}

.about_us .hot_news .best_organizer .latest_news {
    float: left;
    width: 360px;
    border-right: solid 1px #e5e5e5;
    height: 300px;
    padding: 0 20px 0 0
}

.about_us .hot_news .best_organizer .latest_news .content_news {
    font-size: 13px
}

.about_us .hot_news .best_organizer .latest_news .all_news {
    background: none;
    border: none;
    float: right;
    font-size: 13px;
    color: #49c7bb;
    cursor: pointer
}

.about_us .hot_news .best_organizer .top_organizers {
    float: right;
    width: 350px
}

.about_us .hot_news .best_organizer .top_organizers ul li p {
    margin: 0
}

.about_us .hot_news .best_organizer .top_organizers ul li .scores {
    font-size: 11.6px;
    color: #df3a55
}

.about_us .hot_news .best_organizer .date_write {
    text-align: right
}

.about_us .hot_news .best_organizer h2 {
    margin: 0
}

.about_us .hot_news .best_organizer .best_user_organize {
    margin: 38px 0 0 0
}

.about_us .hot_news .best_organizer .best_user_organize img {
    display: inline-block;
    border-radius: 35px;
    border: solid 1px #f1f1f1;
    vertical-align: middle;
    margin: 0 20px 35px 0
}

.about_us .hot_news .best_organizer .best_user_organize .advertisement_best_user {
    display: inline-block;
    vertical-align: middle;
    width: 270px
}

.about_us .hot_news .best_organizer .best_user_organize .advertisement_best_user p {
    font-size: 13px;
    margin: 0 0 29px 0;
    line-height: 19px
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.how-to-order {
    padding: 0 0 80px 0
}

.how-to-order h1 {
    font: bold 30px "Roboto-Medium", sans-serif;
    padding: 28px 0;
    margin: 0
}

.how-to-order h3 {
    font: bold 18px "Roboto-Regular", sans-serif;
    margin: 47px 0 20px 0
}

.how-to-order .description-overall-process {
    background: #fff;
    border: solid 1px #d6d5d0;
    padding: 0 50px;
    box-sizing: border-box;
    display: inline-block;
    width: 830px;
    height: 1234px;
    position: relative
}

.how-to-order .description-overall-process p {
    font-family: "Roboto-Light";
    font-size: 15px;
    line-height: 19px
}

.how-to-order .description-overall-process p b {
    padding: 0 0 0 25px;
    display: block
}

.how-to-order .description-overall-process img {
    padding: 0 0 0 25px
}

.how-to-order .description-overall-process ul {
    padding: 0;
    margin: 40px 0 20px 0
}

.how-to-order .description-overall-process ul li {
    list-style-type: none;
    margin: 20px 0
}

.how-to-order .description-overall-process ul li .number-list-order {
    border: solid 3px #00b472;
    padding: 10px 22px;
    border-radius: 30px;
    display: inline-block;
    width: 10px;
    vertical-align: top;
    margin: 0 15px 0 0;
    color: #00b472;
    font: 30px "Roboto-Medium"
}

.how-to-order .description-overall-process ul li .description-list-order {
    display: inline-block;
    width: 88%;
    vertical-align: bottom;
    margin: 27px 0 0 0;
    font: 15px "Roboto-Medium";
    line-height: 20px
}

.how-to-order .description-overall-process .hot-to-buy {
    position: absolute;
    bottom: 40px;
    right: 70px
}

.how-to-order .description-overall-process .hot-to-buy a {
    font: 15px "Roboto-Regular", sans-serif;
    text-decoration: underline;
    color: #00a1b9;
    margin: 0 0 0 50px
}

.how-to-order .description-overall-process .hot-to-buy a:hover {
    color: #df3a55
}

.how-to-order .answers-to-questions-from-our-customers {
    width: 447px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border: solid 1px #d6d5d0;
    margin: 0 0 0 5px;
    box-sizing: border-box
}

.how-to-order .answers-to-questions-from-our-customers h3 {
    padding: 0 0 0 25px
}

.how-to-order .answers-to-questions-from-our-customers ul {
    padding: 0 0 0 25px;
    margin: 0;
    height: 800px;
    overflow-y: scroll
}

.how-to-order .answers-to-questions-from-our-customers ul li {
    margin: 40px 0;
    list-style: none
}

.how-to-order .answers-to-questions-from-our-customers ul li img {
    float: left;
    margin: 0 10px 0 0
}

.how-to-order .answers-to-questions-from-our-customers ul li .answers-to-questions {
    overflow: overlay
}

.how-to-order .answers-to-questions-from-our-customers ul li .answers-to-questions h6 {
    font: 15px "Roboto-Regular", sans-serif;
    color: #00709e;
    margin: 12px 0
}

.how-to-order .answers-to-questions-from-our-customers ul li .answers-to-questions p {
    font-style: italic;
    font-family: "Roboto-Medium";
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    padding: 0
}

.how-to-order .answers-to-questions-from-our-customers ul li .answers-to-questions span {
    font-size: 10px
}

.how-to-order .answers-to-questions-from-our-customers ul li:nth-child(2n+1) .answers-to-questions p {
    color: #a6154f
}

.how-to-order .answers-to-questions-from-our-customers ul li:nth-child(2n) .answers-to-questions p {
    color: #000
}

.how-to-order .ask-your-question {
    box-sizing: border-box;
    padding: 0 25px;
    height: 343px;
    background: #f1f1f1;
    border-top: solid 1px #e0e0e0
}

.how-to-order .ask-your-question h3 {
    padding: 0
}

.how-to-order .ask-your-question textarea {
    width: 100%;
    height: 170px;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    margin: 0 0 20px 0
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.answer {
    font: italic bold 15px 'Roboto-Light', sans-serif;
    color: #4a771e
}

.title-cards-goods h1 {
    font-family: Roboto-Medium;
    font-size: 30px;
    margin: 0;
    display: inline-block;
    width: 550px;
    vertical-align: middle
}

.title-cards-goods .come-back {
    display: inline-block;
    width: 490px;
    vertical-align: middle;
    background: url(../img/come-back.png) no-repeat;
    background-position: 70px 10px
}

.title-cards-goods .come-back .publish {
    background: #a29090
}

.title-cards-goods .info-user-card-goods {
    display: inline-block;
    vertical-align: middle;
    width: 240px;
    margin: 22px 0 0 0
}

.title-cards-goods .info-user-card-goods img {
    float: left;
    margin: 0 15px 0 0;
    padding: 0 0 35px 0;
    border-radius: 50px
}

.title-cards-goods .info-user-card-goods h3 {
    font: italic 16px 'Roboto-Light', sans-serif;
    text-decoration: underline;
    margin: 17px 0 0 0;
    color: #716f6f
}

.title-cards-goods .info-user-card-goods i {
    font-size: 13px;
    font-family: 'Roboto-Italic'
}

.title-cards-goods .info-user-card-goods a {
    display: block;
    text-decoration: underline;
    color: #a6154f;
    font-size: 13px;
    font-family: 'Roboto-Medium';
    font-style: italic;
    margin: 10px 0 0 0
}

.title-cards-goods .info-user-card-goods a:hover {
    text-decoration: none
}

.cards-goods-content {
    margin: 10px 0 0 0
}

.cards-goods-content .title-goods {
    width: 760px;
    height: 730px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #d6d5d0;
    border-radius: 10px;
    background: #fff;
    padding: 45px 45px 0 45px;
    box-sizing: border-box;
    margin: 0 37px 0 38px;
    position: relative
}

.cards-goods-content .title-goods span {
    cursor: pointer
}

.cards-goods-content .title-goods .arrow-btn-left {
    position: absolute;
    top: 200px;
    left: 17px
}

.cards-goods-content .title-goods .arrow-btn-right {
    position: absolute;
    top: 200px;
    right: 17px
}

.cards-goods-content .title-goods h3 {
    font-style: italic;
    font-family: "Roboto-Medium";
    font-size: 18px
}

.cards-goods-content .title-goods p {
    font: 14px 'Roboto-Light', sans-serif;
    line-height: 22px
}

.cards-goods-content .block-add-card {
    display: inline-block;
    vertical-align: top;
    width: 366px;
    border: solid 1px #c6c6c6;
    border-radius: 10px;
    background: #d6e4e6;
    box-sizing: border-box;
    padding: 30px 28px 30px 28px;
    height: 730px;
    width: 420px
}

.cards-goods-content .block-add-card p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Roboto-Italic';
    color: #483b2d
}

.cards-goods-content .block-add-card .information-block-card {
    margin: 0 0 20px 0
}

.cards-goods-content .block-add-card .user_rating {
    font: italic 12px Roboto, sans-serif;
    position: relative;
    left: 115px;
    vertical-align: middle;
    left: 155px
}

.cards-goods-content .block-add-card .user_rating a {
    margin: 0 0 0 15px;
    color: #a6154f;
    font-size: 14px
}

.cards-goods-content .block-add-card .user_rating a i {
    font-size: 18px;
    vertical-align: middle
}

.cards-goods-content .block-add-card .price-good {
    display: block;
    font: italic 45px 'Roboto-Medium', sans-serif;
    color: #483b2d
}

.cards-goods-content .block-add-card .price-good span {
    font-size: 29px
}

.cards-goods-content .block-add-card strong {
    border-top: solid 1px #c9c9c9;
    display: block;
    padding: 20px 0 10px 0
}

.cards-goods-content .block-add-card strong a {
    float: right;
    color: #8e7860;
    font-size: 12px;
    font-family: 'Roboto-Medium';
    font-style: italic;
    text-decoration: underline
}

.cards-goods-content .block-add-card strong a:hover {
    color: #a6154f
}

.cards-goods-content .block-add-card .delivery {
    margin: 0 0 0 33px
}

.cards-goods-content .block-add-card .delivery select {
    width: 148px
}

.cards-goods-content .block-add-card .number {
    position: relative;
    left: 100px;
    bottom: 10px
}

.cards-goods-content .block-add-card .number .number-item {
    position: relative;
    left: -80px;
    top: 35px;
    font-size: 14px;
    font-style: italic;
    font-family: 'Roboto-Italic';
    color: #483b2d
}

.cards-goods-content .block-add-card .number input {
    border: solid 1px #adadad;
    font-size: 18px;
    color: #000;
    padding: 12px 0 12px 5px
}

.cards-goods-content .block-add-card select {
    padding: 12px 0 12px 5px;
    font-weight: bold;
    font-size: 12px;
    width: 25%
}

.cards-goods-content .block-add-card .button {
    border: none;
    color: #fff;
    background: #4a771e;
    border-radius: 10px;
    font-size: 17px;
    margin: 24px 0 0 0;
    padding: 10px 19px;
    display: table;
    cursor: pointer
}

.comment-header-description {
    background: url(../img/comment-header-description.png) no-repeat;
    margin: 0 0 0 38px;
    background-position: 100% 50%;
    font: 30px "Roboto-Medium";
    color: #26135a;
    padding: 50px 0
}

.comment-section {
    margin: 0 0 0 40px
}

.comment-section .comment-simplebox img {
    vertical-align: top;
    margin: 0 25px 0 0
}

.comment-section .comment-simplebox textarea {
    display: inline-block;
    width: 622px;
    height: 130px;
    resize: none;
    border: solid 1px #b9b9b9;
    border-radius: 10px;
    padding: 19px;
    box-sizing: border-box;
    font: italic 13px "Roboto-Italic"
}

.comment-section .comment-simplebox .block-button {
    margin: 19px 0 0 85px
}

.comment-section .comment-simplebox .block-button .attach-photo {
    font: italic 13px 'Roboto-Light';
    cursor: pointer;
    border-bottom: dashed 1px #a6154f;
    color: #a6154f;
    margin: 0 0 0 15px
}

.comment-section .comment-cards-goods {
    position: relative
}

.comment-section .comment-cards-goods ul {
    padding: 30px 0 100px 0;
    margin: 0
}

.comment-section .comment-cards-goods ul li {
    list-style: none;
    padding: 30px 0;
    width: 890px
}

.comment-section .comment-cards-goods ul li{
    border-top: solid 1px #bdbdbd;
    margin: 30px 0 0 0
}


.comment-section .comment-cards-goods ul li img {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: top
}

.comment-section .comment-cards-goods ul li .content-comment-cards-goods {
    display: inline-block;
    vertical-align: bottom;
    margin: 15px 0 0 0;
    width: 77%
}

.comment-section .comment-cards-goods ul li .content-comment-cards-goods .user_name {
    float: left;
    text-decoration: underline;
    color: #a6154f;
    font: bold 15px 'Roboto-Medium', sans-serif;
    margin: 0 25px 0 0
}

.comment-section .comment-cards-goods ul li .content-comment-cards-goods .date_write {
    padding: 3px 0 0 0
}

.comment-section .comment-cards-goods ul li .content-comment-cards-goods p {
    font: italic 15px 'Roboto-Light', sans-serif;
    color: #2a2a2a
}

.comment-section .comment-cards-goods ul li .content-comment-cards-goods img {
    display: block;
    padding: 20px 0 0 0
}

body {
    padding: 0;
    margin: 0
}

.wrapper {
    width: 1290px;
    margin: 0 auto
}

* {
    font-family: "PTSansRegular", sans-serif;
    outline: none
}

a {
    text-decoration: none
}

.active {
    text-decoration: underline
}

.make-an-order {
    background: #4a771e;
    padding: 14px 31px;
    border-radius: 7px;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer
}

.number {
    width: 103px;
    position: relative;
    display: inline-block
}

.number input {
    width: 45px;
    border-right: none
}

.number button {
    position: absolute;
    right: 30px;
    font-size: 18px;
    background: #fff;
    border: solid 1px #adadad;
    width: 22px;
    height: 25px;
    padding: 0px 10px 0px 6px;
    box-sizing: border-box;
    cursor: pointer
}

.number .minus_number_goods {
    top: 44px
}

.number .number_of_pieces {
    font: 16px 'Roboto-Regular', sans-serif;
    display: inline-block;
    padding: 0 0 0 22px;
    color: #000
}

.price_product {
    display: inline-block;
    vertical-align: middle
}

#scrollup {
    position: absolute;
    bottom: 30px;
    right: 400px
}

.offline {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e;
    color: #7e7e7e;
    background-position: 0 -30px
}

.date_write {
    font-size: 12px;
    color: #9ab6bb
}

.publish {
    cursor: pointer;
    background: #a6154f;
    padding: 6px 9px;
    color: #fff;
    border-radius: 5px;
    font-size: 11.6px
}

.top_line {
    background: #a6154f
}

.top_line .number_people_with_us_top_line {
    color: #fff;
    height: 40px;
    width: 49%;
    display: inline-block
}

.top_line .number_people_with_us_top_line ul {
    padding: 0;
    margin: 0
}

.top_line .number_people_with_us_top_line ul li {
    list-style-type: none;
    display: inline-block;
    line-height: 37px;
    margin: 0 50px 0 0;
    font-size: 11.6px
}

.top_line .number_people_with_us_top_line ul li:last-child {
    margin: 0
}

.top_line .number_people_with_us_top_line ul li a {
    display: block;
    color: #fff;
    font-size: 11.6px
}

.top_line .number_people_with_us_top_line ul li a:hover {
    text-decoration: underline
}

.top_line .number_people_with_us_top_line ul li a span {
    background: #fff;
    padding: 0px 5px;
    margin: 0 3px 0 0;
    border-radius: 15px;
    color: #edb0c2
}

.top_line .user_office {
    width: 50.5%;
    text-align: right;
    display: inline-block
}

.top_line .user_office a {
    color: #fff;
    font-size: 11.6px;
    display: block
}

.top_line .user_office a:hover {
    text-decoration: underline
}

.top_line .user_office .your_question_top_line {
    display: inline-block
}

.top_line .user_office .ask-question {
    display: none;
    position: absolute;
    z-index: 1;
    background: #a6154f;
    width: 100%;
    padding: 100px 0;
    left: 0;
    top: 0
}

.top_line .user_office .ask-question .close-ask-question {
    right: 1%;
    top: 4%;
    position: absolute;
    cursor: pointer
}

.top_line .user_office .ask-question .close-ask-question img {
    background: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 40px
}

.top_line .user_office .ask-question .form-ask-question {
    text-align: center;
    border-radius: 25px;
    margin: 0 auto;
    background: #fff;
    width: 390px;
    padding: 50px 75px 25px 75px;
    box-sizing: border-box
}

.top_line .user_office .ask-question .form-ask-question h3 {
    padding: 0;
    margin: 0 0 29px 0
}

.top_line .user_office .ask-question .form-ask-question input, .top_line .user_office .ask-question .form-ask-question textarea {
    border: solid 1px #ececec;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 0 15px 0;
    font: 15px 'Roboto-Light', sans-serif;
    color: #878787;
    width: 100%;
    box-sizing: border-box;
    resize: none
}

.top_line .user_office .ask-question .form-ask-question textarea {
    height: 150px
}

.top_line .user_office .personal_office {
    width: 51%;
    display: inline-block;
    padding: 0;
    margin: 0
}

.top_line .user_office .personal_office li {
    display: inline-block
}

.top_line .user_office .personal_office li span {
    font-size: 11.6px;
    color: #fff
}

.menu_header_top {
    height: 75px
}

.menu_header_top .logo, .menu_header_top .menu_header_line, .menu_header_top .shopping_cart, .menu_header_top .search_header {
    display: inline-block;
    vertical-align: middle;
    padding: 21px 0
}

.menu_header_top .logo {
    width: 206px
}

.menu_header_top .logo h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-family: Roboto, sans-serif
}

.menu_header_top .menu_header_line {
    width: 48%
}

.menu_header_top .menu_header_line ul {
    padding: 0;
    margin: 0
}

.menu_header_top .menu_header_line ul li {
    display: inline-block;
    margin: 0 29px 0 0
}

.menu_header_top .menu_header_line ul li:last-child {
    margin: 0
}

.menu_header_top .menu_header_line ul li a {
    display: block;
    color: #000;
    font-size: 13px
}

.menu_header_top .menu_header_line ul li a:hover {
    color: #a6154f
}

.menu_header_top .menu_header_line ul li a i {
    margin: 0 0 0 2px
}

.menu_header_top .shopping_cart {
    width: 150px;
    border: solid 1px #e6dbe8;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.menu_header_top .shopping_cart img {
    display: inline-block;
    padding: 10px 4px 13px 13px
}

.menu_header_top .shopping_cart ul {
    display: inline-block;
    vertical-align: top;
    padding: 0
}

.menu_header_top .shopping_cart ul li {
    display: inline-block
}

.menu_header_top .shopping_cart ul li span {
    font-size: 11.6px
}

.menu_header_top .shopping_cart ul li a {
    display: block;
    font-size: 11.6px;
    color: #000
}

.menu_header_top .search_header {
    width: 297px;
    text-align: right
}

.menu_header_top .search_header input[type="search"] {
    border: solid 1px #c9c9c9;
    border-radius: 3px;
    display: inline-block;
    box-sizing: border-box;
    width: 220px;
    height: 32px;
    padding: 0 15px;
    font-size: 11.6px;
    outline: none
}

.menu_header_top .search_header input[type="button"] {
    display: inline-block;
    background: url(../img/search.png) no-repeat;
    border: none;
    width: 17px;
    line-height: 15px;
    position: relative;
    top: 3px;
    margin: 0 0 0 7px;
    outline: none;
    cursor: pointer
}

.menu_content {
    background: url(../img/nav-bg.png) repeat-x
}

.menu_content .navigation_block ul {
    padding: 0;
    margin: 15px 0 0 0;
    display: inline-block;
    width: 49.6%;
    vertical-align: top
}

.menu_content .navigation_block ul li {
    display: inline-block;
    margin: 0 13px 0 0
}

.menu_content .navigation_block ul li a {
    display: block;
    color: #918771;
    font-size: 11px;
    font-style: italic
}

.menu_content .navigation_block ul li a:hover {
    color: #9ab6bb;
    text-decoration: underline
}

.menu_content .navigation_block .money-user-account strong {
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px 0 0;
    color: #4a771e
}

.menu_content .navigation_block .money-user-account span {
    text-decoration: underline;
    font-size: 13px
}

.menu_content .money-user-account {
    display: inline-block;
    margin: 23px 0 0 0;
    width: 50%;
    text-align: right
}

.menu_content .menu_profile {
    margin: 27px 0 0 0;
    border: solid 1px #d0ceca;
    height: 55px;
    box-sizing: border-box;
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #f7f7f7));
    background: -webkit-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #f7f7f7 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#f7f7f7', GradientType=0)
}

.menu_content .menu_profile ul {
    padding: 0;
    margin: 0;
    width: 1050px;
    font-size: 0;
    display: inline-block;
    vertical-align: middle
}

.menu_content .menu_profile ul li {
    width: auto;
    display: table-cell
}

.menu_content .menu_profile ul li a {
    vertical-align: middle;
    display: table-cell;
    width: 1000px;
    text-align: center;
    color: #4e4d4d;
    font-size: 17px;
    white-space: pre;
    padding: 13px 0 15px 0
}

.menu_content .menu_profile ul li a:hover {
    color: #a6154f;
    text-decoration: underline
}

.menu_content .menu_profile ul li a sup {
    padding: 0 7px 3px 7px;
    background: #a6154f;
    border-radius: 10px;
    color: #fff
}

.menu_content .menu_profile ul li .comments_and_responses {
    padding: 13px 12px 15px 12px
}

.menu_content .menu_profile ul li .news {
    padding: 13px 12px 15px 12px
}

.profile_options {
    display: inline-block;
    width: 230px;
    text-align: right;
    position: relative
}

.profile_options a {
    color: #000;
    font-size: 13px;
    background: url(/img/profile_option.png) no-repeat;
    background-position: 40px 8px;
    border-left: solid 1px #cccccc;
    padding: 10px 35px 10px 80px;
    box-sizing: border-box
}

.profile_options .change_profile_options {
    position: absolute;
    top: 60px;
    left: 30px
}

.profile_options .change_profile_options span {
    color: #4a771e;
    font: italic 12px Roboto, sans-serif;
    background: url(../img/change_profile_options.png) no-repeat;
    background-position: 3px 5px;
    padding: 25px 0 25px 16px
}

.block-management-accounts {
    text-align: right;
    padding: 42px 0 0 0
}

.block-management-accounts span {
    font-size: 13px;
    text-decoration: underline;
    padding: 14px
}

.block-management-accounts span i {
    padding: 0 10px 0 0
}

.block-management-accounts .my-account {
    background: #a6154f
}

.main_content {
    background: #f4f2ed
}

.main_content .user_profile {
    margin: 65px 0 0 0;
    display: inline-block;
    vertical-align: top;
    min-height: 420px
}

.main_content .user_profile .photo_user {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 0 24px 0 0;
    width: 240px
}

.main_content .user_profile .photo_user .avatar {
    height: 320px;
    background: #d6d6d6
}

.main_content .user_profile .photo_user .avatar a {
    font: italic 11px PTSansRegular, sans-serif;
    padding: 10px 20px;
    color: #fff;
    background: #a6154f;
    border-radius: 4px;
    text-decoration: underline;
    position: relative;
    top: 15px
}

.main_content .user_profile .description_user {
    display: inline-block;
    vertical-align: top;
    width: 495px
}

.main_content .user_profile .description_user .date_registration {
    text-align: right;
    display: block;
    font: italic 12px Roboto, sans-serif
}

.main_content .user_profile .description_user h2 {
    margin: 0 0 25px 0;
    font: bold 32px 'PTSansRegular', sans-serif
}

.main_content .user_profile .description_user .online {
    font: italic 12px Roboto, sans-serif;
    background: url(../img/online_offline.png) no-repeat;
    background-position: 0 3px;
    padding: 0 0 0 15px;
    color: #4a771e
}

.main_content .user_profile .description_user .user_rating {
    font: italic 12px Roboto, sans-serif;
    position: relative;
    left: 115px;
    vertical-align: middle
}

.main_content .user_profile .description_user .user_rating a {
    margin: 0 0 0 15px;
    color: #a6154f;
    font-size: 14px
}

.main_content .user_profile .description_user .user_rating a i {
    font-size: 18px;
    vertical-align: middle
}

.main_content .user_profile .description_user h4 {
    font-size: 17px
}

.main_content .user_profile .description_user p {
    color: #5c5c5c;
    font-size: 15px;
    line-height: 20px
}

.main_content .contacts_user {
    width: 420px;
    float: right;
    margin: 105px 0 0 0;
    background: #f4f4f4;
    border: solid 1px #c6c6c6;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 30px
}

.main_content .contacts_user strong {
    font-size: 17px
}

.main_content .contacts_user ul {
    padding: 0 0 0 15px
}

.main_content .contacts_user ul li {
    list-style-type: none;
    margin: 15px 0;
    font-size: 17px
}

.main_content .contacts_user ul img {
    vertical-align: middle;
    margin: 0 10px 0 0
}

.main_content .contacts_user ul span {
    vertical-align: middle
}

.main_content .contacts_user button {
    font: italic 11px PTSansRegular, sans-serif;
    padding: 10px 20px;
    color: #fff;
    background: #a6154f;
    border-radius: 4px;
    text-decoration: underline;
    float: right;
    border: none;
    cursor: pointer
}

.main_footer {
    position: relative;
    background: #bdd3d7;
    height: 265px
}

.main_footer .col_1 {
    position: absolute;
    width: 50%;
    left: -286px;
    background: #e5a4b8;
    height: 265px
}

.main_footer .col_2 {
    background: #e5a4b8;
    width: 359px;
    height: 265px;
    position: absolute
}

.main_footer .footer {
    position: relative
}

.main_footer .footer .social_menu_footer {
    display: inline-block;
    vertical-align: top;
    width: 27.5%
}

.main_footer .footer .social_menu_footer p {
    margin: 0;
    font-size: 13px;
    color: #fff;
    padding: 60px 0 0 0
}

.main_footer .footer .social_menu_footer ul {
    padding: 25px 0 50px 0;
    margin: 0
}

.main_footer .footer .social_menu_footer ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px 0 0
}

.main_footer .footer .social_menu_footer ul li a {
    display: block;
    width: 32px;
    height: 32px;
    background: url(../img/soc_block.png) no-repeat
}

.main_footer .footer .social_menu_footer ul li .vk:hover {
    background-position: 0 -33px
}

.main_footer .footer .social_menu_footer ul li .mail {
    background-position: -41px 0px
}

.main_footer .footer .social_menu_footer ul li .mail:hover {
    background-position: -41px -33px
}

.main_footer .footer .social_menu_footer ul li .iam {
    background-position: -83px 0
}

.main_footer .footer .social_menu_footer ul li .iam:hover {
    background-position: -83px -33px
}

.main_footer .footer .social_menu_footer ul li .pen {
    background-position: -124px 0
}

.main_footer .footer .social_menu_footer ul li .pen:hover {
    background-position: -124px -33px
}

.main_footer .footer .social_menu_footer ul li .ok {
    background-position: -166px 0
}

.main_footer .footer .social_menu_footer ul li .ok:hover {
    background-position: -166px -33px
}

.main_footer .footer .social_menu_footer span {
    font-size: 10px;
    color: #fff
}

.main_footer .footer .social_menu_footer span a {
    color: #fff
}

.main_footer .footer .footer_nav_site_container {
    display: inline-block;
    vertical-align: top;
    width: 72%;
    box-sizing: border-box;
    padding: 60px 0 0 48px
}

.main_footer .footer .footer_nav_site_container .important {
    display: inline-block;
    vertical-align: top;
    width: 150px
}

.main_footer .footer .footer_nav_site_container .important h6 {
    font-weight: bold;
    font-size: 13px;
    color: #df3a55;
    margin: 0 0 20px 0
}

.main_footer .footer .footer_nav_site_container .important ul {
    padding: 0;
    margin: 0
}

.main_footer .footer .footer_nav_site_container .important ul li {
    list-style: none;
    margin: 10px 0
}

.main_footer .footer .footer_nav_site_container .important ul li a {
    display: block;
    color: #4d5c5f;
    font-size: 13px;
    text-decoration: none
}

.main_footer .footer .footer_nav_site_container .people {
    display: inline-block;
    vertical-align: top;
    width: 150px
}

.main_footer .footer .footer_nav_site_container .people h6 {
    font-weight: bold;
    font-size: 13px;
    color: #df3a55;
    margin: 0 0 20px 0
}

.main_footer .footer .footer_nav_site_container .people ul {
    padding: 0;
    margin: 0
}

.main_footer .footer .footer_nav_site_container .people ul li {
    list-style: none;
    margin: 10px 0
}

.main_footer .footer .footer_nav_site_container .people ul li a {
    display: block;
    color: #4d5c5f;
    font-size: 13px;
    text-decoration: none
}

.main_footer .footer .footer_nav_site_container .popular {
    display: inline-block;
    vertical-align: top;
    width: 150px
}

.main_footer .footer .footer_nav_site_container .popular h6 {
    font-weight: bold;
    font-size: 13px;
    color: #df3a55;
    margin: 0 0 20px 0
}

.main_footer .footer .footer_nav_site_container .popular ul {
    padding: 0;
    margin: 0
}

.main_footer .footer .footer_nav_site_container .popular ul li {
    list-style: none;
    margin: 10px 0
}

.main_footer .footer .footer_nav_site_container .popular ul li a {
    display: block;
    color: #4d5c5f;
    font-size: 13px;
    text-decoration: none
}

.main_footer .footer .footer_nav_site_container .organizators_block {
    display: inline-block;
    vertical-align: top;
    width: 150px
}

.main_footer .footer .footer_nav_site_container .organizators_block h6 {
    font-weight: bold;
    font-size: 13px;
    color: #df3a55;
    margin: 0 0 20px 0
}

.main_footer .footer .footer_nav_site_container .organizators_block ul {
    padding: 0;
    margin: 0
}

.main_footer .footer .footer_nav_site_container .organizators_block ul li {
    list-style: none;
    margin: 10px 0
}

.main_footer .footer .footer_nav_site_container .organizators_block ul li a {
    display: block;
    color: #4d5c5f;
    font-size: 13px;
    text-decoration: none
}

.main_footer .footer .footer_nav_site_container .contact_footer {
    float: right;
    width: 215px
}

.main_footer .footer .footer_nav_site_container .contact_footer h2 {
    font: bold 25px Roboto, sans-serif;
    margin: 0
}

.main_footer .footer .footer_nav_site_container .contact_footer a {
    font-size: 18px;
    display: block;
    color: #667b7f;
    margin: 13px 0 60px 20px
}

.main_footer .footer .footer_nav_site_container .contact_footer span {
    display: block;
    font-size: 10px;
    color: #000
}
