.div-clear-both{
    clear: both;
}
.div-float-left{
    float: left;
}
.div-float-right{
    float: right;
}
.order-content-style{
    margin: 25px 0 25px 0;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    border: solid 1px #d2d0cc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 20px 65px 20px;
}
.order-content-style:last-child{
    margin: 25px 0 85px 0;
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    border: solid 1px #d2d0cc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px 20px 65px 20px;
}

.order-title-h4-style{
    font-family: 'Roboto-Bold';
    font-size: 16px;
    display: block;
    font-weight: 700;
    margin-top: 45px;
    padding-bottom: 25px;
    border-bottom: 1px solid #969696;
}
.order-title-div-style{
    padding-bottom: 20px;
    border-bottom: 1px solid #969696;
}
.order-title-span-style{
    font-family: 'Roboto-Bold';
    font-size: 16px;
    font-weight: 700;
}
.order-title-span-style_1{
    font-family: 'Roboto-Bold';
    font-size: 16px;
    font-weight: 700;
    color: #939292;
}
.product-div-style{
    height: 145px;
    margin-left: -20px;
    margin-right: -20px;
}
.product-div-style:nth-child(2n+1){
    height: 145px;
    background-color: rgba(245, 245, 245, 1);
    margin-left: -20px;
    margin-right: -20px;
}
.order-product-name-style{
    margin-top: 20px;
    margin-left: 20px;
    width: 86px;
    margin-right: 40px;
    float: left;
}
.order-span-title{
    font-family: 'Roboto Condensed';
    font-size: 12px;
    color: #757575;
    display: block;
    margin-bottom: 15px;
}
.order-span-text{
    font-family: 'PTSansRegular';
    font-size: 14px;
    color: #000000;
}
.order-img-div-style{
    margin-top: 15px;
    float: left;
    width: 75px;
    height: 78px;
    margin-right: 50px;
}
.order-product-art-style{
    margin-top: 20px;
    width: 60px;
    margin-right: 40px;
    float: left;
}
.order-span-art{
    font-family: 'Roboto Condensed';
    font-size: 12px;
    color: #757575;
    display: block;
    margin-bottom: 20px;
}
.order-product-art-style_1{
    margin-top: 20px;
    width: 60px;
    margin-right: 70px;
    float: left;
}
.order-product-color-style{
    margin-top: 20px;
    width: 100px;
    margin-right: 40px;
    float: left;
}
.order-product-price-style{
    margin-top: 20px;
    width: 117px;
    margin-right: 40px;
    float: left;
}
.order-span-name{
    font-family: 'Roboto-Italic';
    font-size: 12px;
    color: #00a2c5;
    text-decoration: underline;
    font-style: italic;
}
.order-deleted{
    text-align: right;
    font-family: 'Roboto-Italic';
    font-style: italic;
    color: #b6b6b6;
    font-size: 12px;
    padding-right: 20px;
    margin-top: 5px;
}
.download-price-span > a{
    font-family: 'PTSansRegular';
    color: #a6154f;
    font-size: 13px;
    text-decoration: underline;
}
.download-price-span > img{
    margin-left: 65px;
    margin-right: 10px;
    margin-bottom: -10px;
}