.menu_content .navigation_block ul li a{
    color: #9ab6bb;
    text-decoration: underline;
}
.menu_content .navigation_block .li_class_222 {
    color: #918771;!important;
    text-decoration: none;
}
.how-to-order .answers-to-questions-from-our-customers2 {
    width: 447px;
    display: inline-block;
    vertical-align: top;
    background: #fff;
    border: solid 1px #d6d5d0;
    margin: 0 0 0 5px;
    box-sizing: border-box
}

.how-to-order .answers-to-questions-from-our-customers2 h3 {
    padding: 0 0 0 25px
}

.how-to-order .answers-to-questions-from-our-customers2 ul {
    padding: 0 0 0 25px;
    margin: 0;
    height: 800px;
    overflow-y: scroll
}

.how-to-order .answers-to-questions-from-our-customers2 ul li {
    margin: 40px 0;
    list-style: none
}

.how-to-order .answers-to-questions-from-our-customers2 ul li img {
    float: left;
    margin: 0 10px 0 0
}

.how-to-order .answers-to-questions-from-our-customers2 ul li .answers-to-questions {
    overflow: overlay
}

.how-to-order .answers-to-questions-from-our-customers2 ul li .answers-to-questions h6 {
    font: 15px "Roboto-Regular", sans-serif;
    color: #00709e;
    margin: 12px 0
}

.how-to-order .answers-to-questions-from-our-customers2 ul li .answers-to-questions p {
    font-style: italic;
    font-family: "Roboto-Medium";
    font-size: 15px;
    margin: 0;
    line-height: 20px;
    padding: 0
}

.how-to-order .answers-to-questions-from-our-customers2 ul li .answers-to-questions span {
    font-size: 10px
}

.how-to-order .answers-to-questions-from-our-customers2 ul li:nth-child(2n+1) .answers-to-questions p {
    color: #a6154f
}

.how-to-order .answers-to-questions-from-our-customers2 ul li:nth-child(2n) .answers-to-questions p {
    color: #000
}
